<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>
  <header>
    <article id="top-bar">
      <h1>Yelp</h1>
      <nav id="right-nav">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </nav>
    </article>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>
  <main>
    <article id="main-content">
  <%= yield %>
    </article>
  </main>



</body>
</html>
